<% layout('/layouts/boilerplate') %>

<h1>Add Image</h1>

<form action="/payrolls/uploads" method="post" enctype="multipart/form-data">
  <input type="file" name="image" multiple />
  <input type="text" name="altText" placeholder="Alt Text" required>
  <input type="text" name="notes" placeholder="Notes" required>
  <button type="submit">Upload</button>
</form>


  

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Alt Text</th>
      <th>Notes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% images.forEach((image) => { %>
      <tr>
        <td>
          <img src="<%= image.imageUrl.replace(/\\/g, '/') %>" alt="<%= image.altText %>">
        </td>
        <td><%= image.altText %></td>
        <td><%= image.notes %></td>
        <td>
          <form action="/payrolls/uploads/<%= image._id %>?_method=DELETE" method="POST">
            <button><i class="fa-solid fa-trash-can"></i></button>
          </form>        
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>


