<% layout('/layouts/boilerplate') %>



  
<div class="container-fluid">

    <!-- staffsale.ejs -->
    <h1>Staff Sale</h1>
    <h2>Customer Name: <%= customerData.customerName %>
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Staff</th>
          <th>Qty</th>
          <th>Disc</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% customerData.services.forEach(function(service) { %>
          <tr>
            <td>
              <%= service.service %>
            </td>
            <td>
              <%= service.staff %>
            </td>
            <td>
              <%= service.qty %>
            </td>
            <td>
              <%= service.disc %>
            </td>
            <td>
              <%= service.total %>
            </td>
          </tr>
          <% }); %>
            <tr>
              <td colspan="4" class="text-right"><strong>Sub Total:</strong></td>
              <td>
                <%= customerData.subTotal.toFixed(2) %>
              </td>
            </tr>
            <tr>
              <td colspan="4" class="text-right"><strong>Grand Total:</strong></td>
              <td>
                <%= customerData.grandTotal.toFixed(2) %>
              </td>
            </tr>
      </tbody>
    </table>
</div>